In [8]:
import pandas as pd
import glob
import lxml.html
import random

In [9]:
def munge_gpt3(files, chunk=True):
    dfs = []
    for file in files:
        lines = open(file).readlines()
        text_list = [l.strip() for l in lines]
        text_list = list(filter(lambda t: t!= "" and len(t.split()) >= 10, text_list))
        df = pd.DataFrame({'text': text_list,
                       'generated': 1})
        dfs.append(df)

    gpt = pd.concat(dfs, ignore_index=True)
    gpt.to_csv('gpt3.csv', index=False)
    return gpt

In [10]:
munge_gpt3(glob.glob('../gpt_scraper/data/*.txt'))

                                                   text  generated
0     In recent years, Hong Kong has undergone signi...          1
1     Hong Kong has long been a vibrant hub of comme...          1
2     In addition to political turmoil, Hong Kong is...          1
3     Given these challenges, it’s not surprising th...          1
4     However, leaving Hong Kong is not an option fo...          1
...                                                 ...        ...
5325  If you’re interested in science and technology...          1
5326  “The Anthropocene Reviewed: Essays on a Human-...          1
5327  John Green, the beloved author of “The Fault i...          1
5328  For fans of psychological thrillers, “The Push...          1
5329  In conclusion, these new and noteworthy audiob...          1

[5330 rows x 2 columns]

In [27]:
def concatenate_gpt(files):
    dfs = []
    for file in files:
        raw_df = pd.read_csv(file)
        df = pd.DataFrame({'text': [str(t).strip() for t in raw_df['text']],
                       'generated': 1})
        dfs.append(df)

    gpt = pd.concat(dfs, ignore_index=True)
    gpt.to_csv('gpt.csv', index=False)
    return gpt

In [28]:
concatenate_gpt(glob.glob('gpt_data/*.csv'))

                                                   text  generated
0     Dawn on its way to victory, but where does it ...          1
1     Drew Angerer/Getty Images\n\nThere are many th...          1
2     In my last post, I gave a post on the use of t...          1
3     Brought to you by:\n\nKFC\n\nHogan's Day\n\nSo...          1
4     It's time for the first time since 2008, and w...          1
...                                                 ...        ...
9995  alabamer, philly pix, pestle, live nectar, dan...          1
9996  Ballistics System Summary\n\nA linear three-di...          1
9997  http://dailytarbadilla.com/policies/opinions/2...          1
9998  Harmony in that regard is momentous'", Ocaden ...          1
9999  Bolton Steel\n\nRelated Posts\n\nAvailable as ...          1

[10000 rows x 2 columns]

In [22]:
def parse_blog_xml(file):
    tree = lxml.html.parse(file)
    post_els = tree.findall('.//post')
    posts = [p.text.replace('urlLink', '').strip() for p in post_els]
    return posts

In [23]:
BLOG_FILE_NUM = 0 # change this to add blog data
def process_human(fake=False):
    dfs = []

    # files = glob.glob('nyt_data/*.csv')
    # for file in files:
    #     raw_df = pd.read_csv(file)
    #     text_list = [str(t).strip() for t in raw_df['abstract']]
    #     generated = [1 if random.random() < 0.5 else 0 for _ in text_list] if fake else 0
    #     df = pd.DataFrame({'text': text_list,
    #                    'generated': generated})
    #     dfs.append(df)

    nyt_scraped_files = glob.glob('../nyt_scraper/data/*.txt')
    for file in nyt_scraped_files:
        lines = open(file).readlines()
        text_list = [l.strip() for l in lines]
        generated = [1 if random.random() < 0.5 else 0 for _ in text_list] if fake else 0
        df = pd.DataFrame({'text': [l.strip() for l in lines],
                       'generated': generated})
        dfs.append(df)

    # blog_files = glob.glob('blogs/*.xml')[:BLOG_FILE_NUM]
    # for file in blog_files:
    #     posts = parse_blog_xml(file)
    #     generated = [1 if random.random() < 0.5 else 0 for _ in posts] if fake else 0
    #     df = pd.DataFrame({'text': posts,
    #                    'generated': generated})
    #     dfs.append(df)

    human = pd.concat(dfs, ignore_index=True)
    outfile = 'fake.csv' if fake else 'human.csv'
    human.to_csv(outfile, index=False)
    return human

In [24]:
process_human(True)

                                                     text  generated
0       White House Holds Trafficking ‘Summit,’ but Cr...        0.0
1       WASHINGTON — President Trump held what he call...        1.0
2       “I have many issues,” Mr. Trump said in announ...        1.0
3       To mark the occasion, several high-ranking adm...        0.0
4       The executive order, according to White House,...        1.0
...                                                   ...        ...
106430  The program, The Globe wrote, was “a penetrati...        0.0
106431  Ms. Jarvis began filming in China in August 19...        0.0
106432  Ms. Jarvis left NBC in 1976 and founded her ow...        1.0
106433  In addition to “Junon and Avos,” which Ms. Jar...        0.0
106434  Ms. Jarvis’s husband died in 1999. A daughter,...        0.0

[106435 rows x 2 columns]